<body>
  <div class="img-container">
    <img src="../../../assets/img/fundo.jpg" alt="">
  </div>
  <nav>
    <ul class="menu">
      <li><a [routerLink]="['/Createchar']" routerLinkActive="active">CreateChar</a></li>
      <li><a [routerLink]="['/Creategun']" routerLinkActive="active">CreateWeapon</a></li>
      <li><a [routerLink]="['/Arena']" routerLinkActive="active">To Fight</a></li>
      <li><a [routerLink]="['/Login']" routerLinkActive="active">Exit</a></li>
    </ul>
  </nav>
  <div class="createChar-containe">
    <div class="anime">
      <img src="../../../assets/img/welcome.gif" alt="" class="welcome">
    </div>
  </div>
  



</body>