<body>
  <div class="img-container">
    <img src="../../../assets/img/home bg.png" alt="">
  </div>
  <nav>
    <ul class="menu">
      <li><a [routerLink]="['/Createchar']" routerLinkActive="active">| Criar Personagem </a></li>
      <li><a [routerLink]="['/Creategun']" routerLinkActive="active">| Criação das Armas </a></li>
      <li><a [routerLink]="['/Arena']" routerLinkActive="active">| PVP </a></li>
      <li><a [routerLink]="['/Login']" routerLinkActive="active"> |SAIR  </a></li>
    </ul>
  </nav>
</body>
