<body>
    <div class="img-container">
        <img src="../../../assets/img/arena.jpg" alt="">  
    </div>

    <div class="info1">
        <img src="../../../assets/img/heart.png" alt="" class="heart">
        <div class="vida1">
            <a id="vida">0</a> <!-- <a id="vida">{{life}}</a> -->
        </div>
    </div>
    
    <div class="strength">
        <img src="../../../assets/img/ataque.png" alt="" class="strength1">
        <div class="ataque1">
            <a id="ataque">0</a> <!-- <a id="ataque">{{atk}}</a> -->
        </div>
    </div>

    <div class="intelligence">
        <img src="../../../assets/img/intelligence.png" alt="" class="intelligence1">
        <div class="inteligencia1">
            <a id="inteligencia">0</a> <!-- <a id="inteligencia">{{int}}</a> -->
        </div>
    </div>

    <div class="name">
        <img src="../../../assets/img/name.png" alt="" class="name1">
        <div class="nome1">
            <a id="nome">player1</a> <!-- <a id="nome">{{name}}</a> -->
        </div>
    </div>
        

    <div class="middle">
        <img src="../../../assets/img/vs.png" alt="" class="vs">
    </div>

    <div class="info2">
        <img src="../../../assets/img/heart.png" alt="" class="heart">
        <div class="vida2">
            <a id="vida">0</a> <!-- <a id="vida">{{life}}</a> -->
        </div>
    </div>

    <div class="strength">
        <img src="../../../assets/img/ataque.png" alt="" class="strength2">
        <div class="ataque2">
            <a id="ataque">0</a> <!-- <a id="ataque">{{atack}}</a> -->
        </div>
    </div>

    <div class="intelligence">
        <img src="../../../assets/img/intelligence.png" alt="" class="intelligence2">
        <div class="inteligencia2">
            <a id="inteligencia">0</a> <!-- <a id="inteligencia">{{int}}</a> -->
        </div>
    </div>

    <div class="name">
        <img src="../../../assets/img/name.png" alt="" class="name2">
        <div class="nome2">
            <a id="nome">player2</a> <!-- <a id="nome">{{cName}}</a> -->
        </div>
    </div>

    <div class="anime1">
        <img src="../../../assets/img/anime1.gif" alt="" class="player1">
    </div>

    <div class="anime2">
        <img src="../../../assets/img/anime1.gif" alt="" class="player2">
    </div>

    <div class="fight">
        <button class="create" (click)="fight()">FIGHT</button>
    </div>
    <div class="exit">
        <button class="create" [routerLink]="['/Home']">EXIT</button>
    </div>

</body>
