<body>
    <div class="img-container">
        <img src="../../../assets/img/3a1b6651238aaa7dbb9e7af89b556b13.png" alt="">
    </div>

    <div class="info1">
        <img src="../../../assets/img/vida.png" alt="" class="heart">
        <div class="vida1">
            <a style="color: white;" id="vida">0</a> <!-- <a id="vida">{{life}}</a> -->
        </div>
    </div>

    <div class="strength">
        <img src="../../../assets/img/sowrd.png" alt="" class="strength1">
        <div class="ataque1">
            <a style="color: white;" id="ataque">0</a> <!-- <a id="ataque">{{atk}}</a> -->
        </div>
    </div>

    <div class="intelligence">
        <img src="../../../assets/img/boock.png" alt="" class="intelligence1">
        <div class="inteligencia1">
            <a style="color: white;" id="inteligencia">0</a> <!-- <a id="inteligencia">{{int}}</a> -->
        </div>
    </div>

    <div class="name">
        <img src="../../../assets/img/name.png" alt="" class="name1">
        <div class="nome1">
            <a style="color: white;" id="nome">player1</a> <!-- <a id="nome">{{name}}</a> -->
        </div>
    </div>



    <div class="info2">
        <img src="../../../assets/img/vida.png" alt="" class="heart">
        <div class="vida2">
            <a style="color: white;" id="vida">0</a> <!-- <a id="vida">{{life}}</a> -->
        </div>
    </div>

    <div class="strength">
        <img src="../../../assets/img/sowrd.png" alt="" class="strength2">
        <div class="ataque2">
            <a style="color: white;" id="ataque">0</a> <!-- <a id="ataque">{{atack}}</a> -->
        </div>
    </div>

    <div class="intelligence">
        <img src="../../../assets/img/boock.png" alt="" class="intelligence2">
        <div class="inteligencia2">
            <a style="color: white;" id="inteligencia">0</a> <!-- <a id="inteligencia">{{int}}</a> -->
        </div>
    </div>

    <div class="name">
        <img src="../../../assets/img/name.png" alt="" class="name2">
        <div class="nome2">
            <a style="color: white;" id="nome">player2</a> <!-- <a id="nome">{{cName}}</a> -->
        </div>
    </div>

    <div class="anime1">
        <img src="../../../assets/img/293263670b8780146ab0c4e40a2ea890.gif" alt="" class="player1">
    </div>

    <div class="anime2">
        <img src="../../../assets/img/293263670b8780146ab0c4e40a2ea890.gif" alt="" class="player2">
    </div>

    <div class="fight">
        <button class="create" (click)="fight()">FIGHT</button>
    </div>
    <div class="exit">
        <button class="create" [routerLink]="['/Home']">EXIT</button>
    </div>

</body>
